*,
::before,
::after {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  min-width: 430px;
}

.container {
  text-align: center;
  width: 100%;
  min-width: 430px;
}

.container__text {
  background: #181818;
  padding: 2vh;
  font-size: 2rem;
  color: #f1f5f8;
}

.container__btn {
  outline: none;
  margin-top: 4vh;
  font-size: 1.75rem;
  padding: 0.75vh;
  min-width: 7rem;
  border: #181818 solid 2px;
  box-shadow: rgba(100, 100, 100, 0.178) 2px 2px;
  border-radius: 10px;
  background: rgba(224, 224, 224, 0.25);
}

.container__btn:active {
  box-shadow: none;
}
